:root {
  --background-color: #fff;
  --backround-section-dark: #2e2f42;
  --background-section-light: #f4f4fd;

  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;

  --primary-white-color: #fff;

  --link-color: #2e2f42;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------UTILITARIAN CLASSES------ */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.advantages-title,
.team-name,
.works-items {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.team-title,
.examples-title {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

/* ----------------LOGO------------ */
.logo {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--accent-color);
}

.logo {
  text-transform: uppercase;
}

/* ------------HEADER -------------------*/
.header-link {
  color: var(--link-color);
  font-weight: 600;
}

.header-mail,
.header-tel {
  color: var(--primary-text-color);
  font-style: normal;
}

/* --------HERO SECTION------ */
.hero {
  background-color: var(--backround-section-dark);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
}
.button-hero {
  color: #fff;
  background-color: var(--accent-color);
  line-height: 1.18;
}

/* --------Advantages section------ */
/* --------Examples section------ */

/* --------Team section------ */
.team {
  background-color: var(--background-section-light);
}
.team-photo,
.works-items {
  background-color: var(--primary-white-color);
}

/* -----------Portfolio-------- */
.button-portfolio {
  color: var(--accent-color);
  background-color: #f4f4fd;
  line-height: 1.5;
}

.button.button-portfolio:hover,
.button.button-portfolio:focus,
.button.button-portfolio:active {
  color: #fff;
  background-color: var(--accent-color);
}

.works-sphere,
.works-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.works-sphere {
  color: var(--primary-text-color);
}

.works-text {
  color: #f4f4fd;
  background-color: var(--accent-color);
}

/* --------FOOTER------ */
.footer {
  background-color: var(--backround-section-dark);
}
.footer > .logo {
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
}
